@using R5T.R0004.Internal


@namespace R5T.R0004

@inherits HeadingBase


<h3>@this.Value</h3>

@if (this.IncludeInTableOfContents)
{
    <TableOfContentsContent
        Identity="@this.Identity"
        Text="@this.Value"
        Level="3" />
}

@code{
    //See heading base.
}